# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/
**/out/

# Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Build folders
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.DS_Store
Thumbs.db