# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/
**/out/

# Build and dist
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

# Uploads
uploads/
**/uploads/

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.production
.env.development
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local
**/.env.production
**/.env.development

# Logs & OS files
*.log
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
**/.vscode/
*.code-workspace

# Ignore frontend files
../invitehub/
invitehub/